@{
    ViewBag.Title = "Home Page";
}

    
<body>
        <div style="background:#c89797 !important" class="jumbotron">
            <h1>Oltenia Philharmonic</h1>
            <p class="lead">Oltenia Philarmonic has a history in the south of Romania, being one of the oldest Philarmonic in the region</p>

        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    Oltenia Philarmonic invites you to be a part of the cultural and historical moments with the best musicians and bands all over Romania
                    Also foreign musicians and artists all over the world are becoming part of our activity, hosting great concerts.
                    A well known name in romanian music history is Ciprian Porumbescu that maked concerts at Oltenia Philarmonic making it a great Name among others Philarmonics.
                </p>
                <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Ciprian_Porumbescu">Learn more about Ciprian Porumbescu &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Description</h2>
                <p>The building has a gothic architecture that makes the participants to emerge to ancient times and relax their mind and soul on the beautiful notes of the Oltenia Philarmonic Orchestra</p>
                <p>The Orchestra is composed by a variation of musical instruments like: violins, classical guitar, bass, flute, trumpet, harp, piano, organ and many others.</p>
                <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Orchestra">Learn more about musical instruments &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>What is an Orchestra?</h2>
                <p>
                    An orchestra is a group of musicians playing instruments together. They make music. A large orchestra is sometimes
                    called a "symphony orchestra" and a small orchestra is called a "chamber orchestra".
                </p>
                <p><a class="btn btn-default" href="https://simple.wikipedia.org/wiki/Orchestra">See more... &raquo;</a></p>
                <img src="@Url.Content("../images/back.jpg")" alt="IMAGES" style="width: 600px; height: 400px;" />
            </div>
        </div>
    
</body>