@model OrchestraBookingTicketsApp.ViewModels.InstrumentModel.AddInstrumentViewModel
@{
    ViewData["Title"] = "AddInstrument";
}

<h2>AddInstrument</h2>

<link rel="stylesheet" href="~/css/Button.css">
<form asp-action="AddInstrument" method="post">

    <div class="row">
        <div class="col-2">
           Instrument Name
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Instrument type
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Type" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Orchestra ID
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="OrchestraId" />
        </div>
    </div>
    <br />
    <div>
        <button type="submit" class="btn success" asp-route="Orchestras/Index">Save</button>
        <input type="button" value="Back" class="btn success" style="float: right;" onclick="location.href='@Url.Action("Details", "Instruments")'" />
    </div>
</form>
