@model OrchestraBookingTicketsApp.Models.Orchestra

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this item?</h3>
<div>
    <h4>Orchestra</h4>
 
    
    <form asp-action="DeleteOrchestra">
        <input type="hidden" asp-for="OrchestraId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
