@page
@model LoginModel

@{
    ViewData["Title"] = "Please Log in";
}

<link rel="stylesheet" href="~/css/Button.css"><br /><br /><br /><br /><br />
<div class="row" style="background-color: papayawhip ; text-align: center;">

    <div class="col-md-12">
        <form method="post" style="align-self: center">
            <h3 style="text-align: center;">Please log in</h3>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" style="align-self: center"></label>
                <input asp-for="Input.Email" class="form-control" style="text-align:center" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" style="text-align:center" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Log in</button>
            </div>
            <div class="form-group">                
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        <input type="button" class="btn btn-success" value="Register" />
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
