@model OrchestraBookingTicketsApp.Models.OrchestraHistory

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrchestraHistory</h4>

    <form asp-action="DeleteOrchestraHistory">
        <input type="hidden" asp-for="OrchestraHistoryId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
